@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

.main{
    background-image: url("/imgs/background.jpg");
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    position: sticky;
    background-color: rgb(243, 242, 253);
}

.logo{
    width: 10%;
    margin: .5%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img{
    max-width: 100%;
    height: auto;
}

.nav2 li {
    text-decoration: none;
    align-self: center;
    
    padding: 2% 20px;
    margin: 8px 0;
    display: inline-block;
}
.nav2 li a{
    text-decoration: none;
    color: #282C3F;
    font-weight: 800; 
    font-size: 100%;
}
.nav2 li a:hover{
    transition: ease-out .2s;
    color: #FF7A03;
}

.navHover {
    background-color: #282C3F;
    border-radius: 25px;
    opacity: 1;
    
}
.navHover:hover {
    transition:ease-out .2s;
    opacity: 0.8;

}
.navHover a{
    font-weight: 500;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    height: 100vh;
}

.first{
    grid-column: 2 ;
    width: 50%;
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
}

.first img{
    max-width: 100%;
    height: auto;
}


.second{
    width: 60%;
    height: 60%;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.second h2{
    text-align: center;
    color: #282C3F;
    font-size: 150%;
}

.third{
    grid-column: 2;
    justify-self: center;
    align-self: center;
    width: 60%;
    height: 95%;
    background-color: #EEF8F9;
    border-radius: 5px;
}

.third h1{
    text-align: center;
    color: #282C3F;
    margin-top: 25px;
    font-size: 200%;
}

.input_pincode{
    padding: 10%;
    height: auto;
    text-align: center;
}

.input1{
    padding: 5px 20px;
    border:1px solid #ccc;
    background: url("/imgs/location.png") no-repeat right;
    background-size: 15px;
    
}

.btn{
    padding: 5px;
    border:1px solid #ccc;
    background-color: #FF7A03;
    color: #fff;
    font-weight: 600;
}