@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;800&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300&family=Open+Sans:wght@400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: 'Open Sans', sans-serif; */
}

:root {
  --orange: #ff7a03;
  --primary: #282c3f;
  --head-blue: #31364e;
  --grey-text: #868686;
  --bg: #edeef4;
  --footer-bg: #f8f8f8;
}

.blue {
  color: var(--head-blue);
  font-size: 2.4rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin-top: 6rem;
}

.main {
  background-image: url("../imgs/background1.jpg");
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  top: 0;
  position: sticky;
  background-color: rgb(243, 242, 253);
  font-family: "Roboto", sans-serif;
  font-size: medium;
  z-index: 1;
}

.nav #myLinks {
  display: block;
}

.nav a.icon {
  /* background: black; */
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  width: 40px;
}

.logo {
  width: 100px;
  margin: 0.5%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.nav2 li {
  text-decoration: none;
  align-self: center;

  padding: 2% 15px;
  margin: 8px 0;
  display: inline-block;
}

.nav2 li a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
  font-size: medium;
}

.nav2 li a:hover {
  transition: ease-out 0.2s;
  color: var(--orange);
}

.navHover {
  background-color: var(--primary);
  border-radius: 25px;
  opacity: 1;
}

.navHover:hover {
  transition: ease-out 0.2s;
  opacity: 0.8;
}

.navHover a {
  font-weight: 500;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100vh;
}

.s-text {
  font-size: 1.5rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  width: 20.5rem;
}

.test-1 {
  position: relative;
  top: -35px;
  bottom: 40px;
}

.btn-container {
  width: max-content;
}

.orange {
  color: var(--orange);
}

.first {
  grid-column: 1;
  width: 65%;
  background-repeat: no-repeat;
  justify-self: center;
  align-self: center;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-size: 4.125rem;
}

.first img {
  max-width: 100%;
  height: auto;
}

.second {
  width: 65%;
  height: 60%;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.h-button {
  padding: 15px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin: 20px 2px;
  background-color: rgb(243, 243, 243);
  transition: ease-out 0.3s;
  border-radius: 15px 0 0 0;
  cursor: pointer;
}

.b1 {
  color: aliceblue;
  background-color: var(--orange);
}

/* .b1:hover {
  background-color: aliceblue;
  color: var(--orange);
} */

.b2 {
  border-radius: 0 0 15px 0;
  color: var(--orange);
}

.b2:hover {
  color: aliceblue;
  background-color: var(--orange);
}

/* .second h2 {
  text-align: center;
  color: #282c3f;
  font-size: 1.8rem;
  font-family: "Catamaran", sans-serif;
} */

/* .third {
  grid-column: 1;
  justify-self: center;
  align-self: center;
  width: 60%;
  height: 95%;
  background-color: #eef8f9;
  border-radius: 5px;
}

.third h1 {
  text-align: center;
  color: #282c3f;
  margin-top: 25px;
  font-size: 200%;
}

.input_pincode {
  padding: 10%;
  height: auto;
  text-align: center;
}

.input1 {
  padding: 5px 20px;
  border: 1px solid #ccc;
  background: url("../imgs/location.png") no-repeat right;
  background-size: 15px;
}

.btn {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #ff7a03;
  color: #fff;
  font-weight: 600;
} */
.cards-container {
  background-color: var(--primary);
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: var(--orange) 0px 2px 8px;
}

.card-h3 {
  font-family: "Catamaran", sans-serif;
  margin: 7px 0;
  text-align: center;
}

.card-p {
  text-align: center;
  font-family: "Roboto", sans-serif;

  /* font-family: "Catamaran", sans-serif; */
}

.second-cards-container {
  width: 98vw;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg);
}

.second-cards {
  width: 20em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 24px;
}

.second-cards-img {
  width: 20em;
  height: max-content;
}

.second-cards-h2 {
  padding: 10px 0px;
  color: #fff;
  font-family: "Catamaran", sans-serif;
  /* font-weight: 300; */
}

.second-cards-btn {
  width: 10em;
  height: auto;
  padding: 9px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 0.95em;
  cursor: pointer;
  background: rgb(255, 255, 255);
  opacity: 1;
  transition: ease-in-out 0.2s;
}

.second-cards-btn:hover {
  opacity: 0.7;
}

.rest-info {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--bg);
}

.top-rest-container {
  width: 80vw;
  /* background-color: #ff7a03; */
  margin-right: auto;
  margin-left: auto;

}

.top-rest {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: flex-start;
}

.top-rest span {
  width: 7rem;
  height: 1rem;
  margin: 1rem 3.5rem;
  color: var(--grey-text);
  cursor: pointer;
}

.menu {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myBtn {
  text-align: center;
  border: none;
  padding: 0.2rem;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.dn {
  display: none;
}

/* 640 */
@media screen and (max-width: 640px) {
  .nav #myLinks {
    display: none;
  }

  .nav a.icon {
    /* background: black; */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    width: 40px;
  }

  .nav2 {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }

  .first {
    padding-top: 20px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .second-cards-container {
    padding: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .second-cards {
    margin: 20px 0;
  }

  .top-rest-container {
    /* width: 100%; */
  }

  .top-rest {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
  }

  .rest-info {
    height: 100%;
  }

  .s-text {
    width: 100%;
  }
}

a:link {
  text-decoration: none;
  display: flex;
}

.footer {
  padding: 40px 0;
  background-color: #fff;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

/* footer */
.footer-container {
  max-width: 1170px;
  margin: auto;
}

.contentfoot {
  font-size: 20px;
  font-family: "Catamaran", sans-serif;
  color: white;
  font-weight: bold;
  position: relative;
}

.contentfoot span {
  opacity: 0.2;
  font-size: 26px;
  position: relative;
  top: -10%;
  font-family: Tahoma;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background: #282c3f;
  padding: 10px 0;
  font-family: "Catamaran", sans-serif;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ff7a03;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #EDEEF4;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.locate {
  color: #bbbbbb;
}

.copyrights {
  display: block;
  font-size: 18px;
  color: #bbbbbb;
  text-align: center;
}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }

  .copyrights {
    padding-left: 8px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 3px solid var(--orange);
  border-radius: 10px;
  max-width: 500px;
  font-family: "Roboto", sans-serif;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 28px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: var(--orange);
  color: white;
  padding: 14px 20px;
  margin: 8px 0 28px 0;
  border-radius: 4px;
  cursor: pointer;
}

.form-h2 {
  color: var(--orange);
  margin-bottom: 20px;
  text-align: center;
}